* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body,
#app {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

body {
	font-family: "Sohne", ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #0d0d0d;
	background: #fff;
	padding-bottom: constant(safe-area-inset-bottom);
	padding-bottom: env(safe-area-inset-bottom);
}

::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.1);
	border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(0, 0, 0, 0.2);
}
